<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gbif.checklistbank.service.mybatis.NameUsageMetricsMapper">

  <!--  A mapping to build a Image -->
  <resultMap id="usageMetricsResultMap" type="NameUsageMetrics" autoMapping="true">
    <id property="key" column="usage_fk"/>
    <result property="numPhylum" column="count_p"/>
    <result property="numClass" column="count_c"/>
    <result property="numOrder" column="count_o"/>
    <result property="numFamily" column="count_f"/>
    <result property="numGenus" column="count_g"/>
    <result property="numSubgenus" column="count_sg"/>
    <result property="numSpecies" column="count_s"/>
    <result property="numChildren" column="count_children"/>
    <result property="numDescendants" column="count_descendants"/>
    <result property="numSynonyms" column="count_synonyms"/>
  </resultMap>


  <!--  Get by primary key -->
  <select id="get" parameterType="map" resultMap="usageMetricsResultMap">
    SELECT *
    FROM name_usage_metrics
    WHERE usage_fk=#{key}
  </select>

  <insert id="insert" parameterType="NameUsageMetrics" useGeneratedKeys="false" keyProperty="usage_fk">
    INSERT INTO name_usage_metrics (usage_fk, dataset_key, count_descendants, count_children, count_synonyms,
      count_p, count_c, count_o, count_f, count_g, count_sg, count_s)
    VALUES  (#{m.key}, #{uuid}, #{m.numDescendants}, #{m.numChildren}, #{m.numSynonyms},
      #{m.numPhylum}, #{m.numClass}, #{m.numOrder}, #{m.numFamily}, #{m.numGenus}, #{m.numSubgenus}, #{m.numSpecies})
  </insert>

  <update id="update" parameterType="NameUsageMetrics">
    UPDATE name_usage_metrics
    SET (count_descendants, count_children, count_synonyms,
      count_p, count_c, count_o, count_f, count_g, count_sg, count_s)
    = (#{m.numDescendants}, #{m.numChildren}, #{m.numSynonyms},
       #{m.numPhylum}, #{m.numClass}, #{m.numOrder}, #{m.numFamily}, #{m.numGenus}, #{m.numSubgenus}, #{m.numSpecies})
    WHERE usage_fk = #{m.key}
  </update>

</mapper>
