<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gbif.checklistbank.service.mybatis.SpeciesProfileMapper">

  <sql id="select">s.usage_fk AS usageKey, null AS sourceTaxonKey,<include refid="selectNoUsageKey"/></sql>
  <sql id="selectNub">rel.nub_fk as usageKey, s.usage_fk as sourceTaxonKey,<include refid="selectNoUsageKey"/></sql>
  <sql id="selectNoUsageKey">s.id, s.marine, null as freshwater, s.extinct, s.hybrid, s.age_in_days, s.size_in_millimeter,
    s.living_period, s.mass_in_gram, s.terrestrial, s.life_form, s.habitat</sql>

  <sql id="from">species_info s</sql>
  <!-- Exclude wikipedias -->
  <sql id="fromNub">JOIN nub_rel rel ON rel.usage_fk=s.usage_fk
    AND rel.dataset_key NOT IN ('cbb6498e-8927-405a-916b-576d00a6289b','cd9fa1dd-d29f-47c6-bac1-31245a9f08e9','16c3f9cb-4b19-4553-ac8e-ebb90003aa02')
  </sql>

  <sql id="page">LIMIT #{page.limit} OFFSET #{page.offset}</sql>

  <!--  A mapping to build a SpeciesProfile -->
  <resultMap id="speciesProfileResultMap" type="SpeciesProfile" autoMapping="true">
  </resultMap>

  <resultMap id="speciesProfileRangeResultMap" type="UsageRelated" autoMapping="true">
    <id property="usageKey" column="usageKey"/>
    <id property="value" column="id"></id>
    <association property="value" javaType="SpeciesProfile" resultMap="speciesProfileResultMap" />
  </resultMap>


  <!-- get all species_data entries for one usage -->
  <select id="listByChecklistUsage" parameterType="map" resultMap="speciesProfileResultMap">
    SELECT
    <include refid="select"/>
    FROM
    <include refid="from"/>
    WHERE s.usage_fk=#{key}
    ORDER BY s.id
    <include refid="page"/>
  </select>

  <!-- get all species_data entries for one nub usage -->
  <select id="listByNubUsage" parameterType="map" resultMap="speciesProfileResultMap">
    SELECT
    <include refid="selectNub"/>
    FROM
    <include refid="from"/>
    <include refid="fromNub"/>
    WHERE rel.nub_fk=#{key}
    ORDER BY s.id
    <include refid="page"/>
  </select>

  <!-- get all species_data linked to a usage range -->
  <select id="listByChecklistUsageRange" parameterType="map" resultMap="speciesProfileRangeResultMap">
    SELECT
    <include refid="select"/>
    FROM
    <include refid="from"/>
    WHERE s.usage_fk between #{start} and #{end}
  </select>

  <!-- get all species_data linked to a nub usage range -->
  <select id="listByNubUsageRange" parameterType="map" resultMap="speciesProfileRangeResultMap">
    SELECT
    <include refid="selectNub"/>
    FROM
    <include refid="from"/>
    <include refid="fromNub"/>
    WHERE rel.nub_fk between #{start} and #{end}
  </select>
</mapper>
