<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gbif.checklistbank.service.mybatis.VerbatimNameUsageMapper">

  <!--  Get by primary key -->
  <select id="get" parameterType="map" resultType="String">
    SELECT json
    FROM raw_usage
    WHERE usage_fk=#{key}
  </select>

</mapper>
