*.class
*.iml
.idea/
target/
.DS_Store
checklistbank*/logs
checklistbank.log
clb-tree.txt
nub.log
nubidx
logs/
dependency-reduced-pom.xml
checklistbank-cli/d7dddbf4-2cf0-4f39-9b2a-bb099caae36c/
checklistbank-cli/kvp/

# Package Files #
*.jar
*.war
*.ear
