<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gbif.checklistbank.service.mybatis.mapper.DatasetMapper">

  <select id="get" parameterType="map" resultType="String">
    SELECT title
    FROM dataset
    WHERE key=#{uuid}
  </select>

  <insert id="insert" parameterType="map">
    INSERT INTO dataset (key, title)
    VALUES (#{uuid}, #{title})
  </insert>

  <update id="update" parameterType="map">
    UPDATE dataset SET title=#{title}
    WHERE key=#{uuid}
  </update>

  <delete id="delete">
    DELETE from dataset
    WHERE key=#{uuid}
  </delete>

  <delete id="truncate">
    TRUNCATE dataset;
  </delete>
</mapper>
