<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gbif.checklistbank.service.mybatis.mapper.DescriptionMapper">

    <sql id="selectCommon">
      d.id, d.description, d.type, d.language, d.creator, d.contributor, d.license
    </sql>
    <sql id="select">
        d.usage_fk AS usageKey, null AS sourceTaxonKey,c.citation as source,<include refid="selectCommon"/>
    </sql>
    <sql id="selectNub">
        rel.nub_fk as usageKey, d.usage_fk as sourceTaxonKey,ds.title as source,<include refid="selectCommon"/>
    </sql>

  <sql id="from">description d
    LEFT JOIN citation c ON d.source_fk=c.id
  </sql>
  <sql id="fromNub">description d
    JOIN nub_rel rel ON rel.usage_fk=d.usage_fk
    <include refid="org.gbif.checklistbank.service.mybatis.mapper.Common.excludeRels"/>
    LEFT JOIN dataset ds ON rel.dataset_key=ds.key
  </sql>

  <sql id="page">LIMIT #{page.limit} OFFSET #{page.offset}</sql>

  <!--  A mapping to build a Description -->
  <resultMap id="descriptionResultMap" type="Description" autoMapping="true">
    <id property="key" column="id"/>
    <result property="taxonKey" column="usageKey"/>
  </resultMap>

  <resultMap id="descriptionRangeResultMap" type="UsageRelated" autoMapping="true">
    <id property="usageKey" column="usageKey"/>
    <id property="value" column="id"></id>
    <association property="value" javaType="Description" resultMap="descriptionResultMap" />
  </resultMap>

  <resultMap id="tocResultMap" type="TocEntry" autoMapping="true">
    <id property="key" column="id"/>
    <result property="topic" column="type"/>
  </resultMap>

  <!--  Get by primary key -->
  <select id="get" parameterType="map" resultMap="descriptionResultMap">
    SELECT d.usage_fk AS usageKey, d.usage_fk AS sourceTaxonKey,c.citation as source,
    <include refid="selectCommon"/>
    FROM
    <include refid="from"/>
    WHERE d.id=#{key}
  </select>

  <!-- get all descriptions linked to one usage -->
  <select id="listByChecklistUsage" parameterType="map" resultMap="descriptionResultMap">
    SELECT
    <include refid="select"/>
    FROM
    <include refid="from"/>
    WHERE d.usage_fk=#{key}
    ORDER BY d.id
    <include refid="page"/>
  </select>

  <!-- get all descriptions by nub usage -->
  <select id="listByNubUsage" parameterType="map" resultMap="descriptionResultMap">
    SELECT
    <include refid="selectNub"/>
    FROM
    <include refid="fromNub"/>
    WHERE rel.nub_fk=#{key}
    ORDER BY d.id
    <include refid="page"/>
  </select>

  <!-- get all descriptions linked to a usage range -->
  <select id="listByChecklistUsageRange" parameterType="map" resultMap="descriptionRangeResultMap">
    SELECT
    <include refid="select"/>
    FROM
    <include refid="from"/>
    WHERE d.usage_fk between #{start} and #{end}
  </select>

  <!-- get all descriptions linked to a nub usage range -->
  <select id="listByNubUsageRange" parameterType="map" resultMap="descriptionRangeResultMap">
    SELECT
    <include refid="selectNub"/>
    FROM
    <include refid="fromNub"/>
    WHERE rel.nub_fk between #{start} and #{end}
  </select>

  <select id="processDataset" parameterType="map" resultMap="descriptionResultMap" fetchSize="10000" resultSetType="FORWARD_ONLY">
    SELECT
    <choose>
      <when test="uuid.toString() == 'd7dddbf4-2cf0-4f39-9b2a-bb099caae36c'">
        <include refid="selectNub"/>
        FROM
        <include refid="fromNub"/>
      </when>
      <otherwise>
        <include refid="select"/>
        FROM
        <include refid="from"/>
        JOIN name_usage u ON u.id=d.usage_fk
        WHERE u.dataset_key=#{uuid,jdbcType=OTHER}
      </otherwise>
    </choose>
  </select>

  <!-- get all descriptions linked to one usage -->
  <select id="listTocEntriesByUsage" parameterType="map" resultMap="tocResultMap">
    SELECT id, language, type
    FROM description
    WHERE usage_fk=#{usageKey}
  </select>

  <!-- get all descriptions by nub usage -->
  <select id="listTocEntriesByNub" parameterType="map" resultMap="tocResultMap">
    SELECT d.id, d.language, d.type
    FROM description d JOIN nub_rel rel ON rel.usage_fk=d.usage_fk
    WHERE rel.nub_fk=#{usageKey}
  </select>

  <delete id="deleteByUsage">
    DELETE FROM description
    WHERE usage_fk = #{key}
  </delete>

  <insert id="insert" parameterType="map" useGeneratedKeys="false">
    INSERT INTO description (usage_fk, description, type, language, creator, contributor, license, source_fk)
    VALUES  (#{key}, #{obj.description}, #{obj.type}, #{obj.language}, #{obj.creator}, #{obj.contributor},
      #{obj.license}, #{sourceKey})
  </insert>

</mapper>
