<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gbif.checklistbank.service.mybatis.mapper.MultimediaMapper">

  <sql id="select">m.type, m.format, m.identifier, m."references", m.title, m.description, m.audience,
    m.created, m.creator, m.contributor, m.publisher, m.license, m.rights_holder, s.citation AS source
  </sql>

  
  <sql id="from">media m
    LEFT JOIN citation s ON m.source_fk=s.id
  </sql>
  <sql id="fromNub">JOIN nub_rel rel ON m.usage_fk=rel.usage_fk </sql>

  <sql id="page">LIMIT #{page.limit} OFFSET #{page.offset}</sql>

  <!--  A mapping to build a media -->
  <resultMap id="mediaResultMap" type="NameUsageMediaObject" autoMapping="true">
    <result property="sourceTaxonKey" column="usage_fk"/>
  </resultMap>


  <!-- get all media items linked to one usage -->
  <select id="listByChecklistUsage" parameterType="map" resultMap="mediaResultMap">
    SELECT
    <include refid="select"/>
    FROM
    <include refid="from"/>
    WHERE m.usage_fk=#{key}
    ORDER BY m.id
    <include refid="page"/>
  </select>

  <!-- get all media items by nub usage -->
  <select id="listByNubUsage" parameterType="map" resultMap="mediaResultMap">
    SELECT m.usage_fk,
    <include refid="select"/>
    FROM
    <include refid="from"/>
    <include refid="fromNub"/>
    WHERE rel.nub_fk=#{key}
    ORDER BY m.id
    <include refid="page"/>
  </select>

  <delete id="deleteByUsage">
    DELETE FROM media
    WHERE usage_fk = #{key}
  </delete>

  <insert id="insert" parameterType="map" useGeneratedKeys="false">
    INSERT INTO media (usage_fk, type, format, identifier, "references", title, description, audience,
      created, creator, contributor, publisher, license, rights_holder, source_fk
    )
    VALUES (#{key}, #{obj.type}, #{obj.format}, #{obj.identifier}, #{obj.references}, #{obj.title}, #{obj.description}, #{obj.audience},
      #{obj.created}, #{obj.creator}, #{obj.contributor}, #{obj.publisher}, #{obj.license}, #{obj.rightsHolder}, #{sourceKey}
    )
  </insert>

</mapper>

