<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gbif.checklistbank.service.mybatis.mapper.NubRelMapper">

  <delete id="delete">
    DELETE FROM nub_rel WHERE usage_fk=#{usageKey}
  </delete>

  <delete id="deleteByDataset">
    DELETE FROM nub_rel WHERE dataset_key=#{uuid,jdbcType=OTHER}
  </delete>

  <insert id="insert">
    INSERT INTO nub_rel (dataset_key, usage_fk, nub_fk)
    VALUES (#{uuid}, #{usageKey}, #{nubKey})
  </insert>

  <resultMap id="nubMappingResultMap" type="org.gbif.checklistbank.model.NubMapping" autoMapping="true">
    <id property="usageKey" column="usage_fk"/>
    <result property="nubKey" column="nub_fk"/>
  </resultMap>

  <select id="process" parameterType="map" resultMap="nubMappingResultMap" resultOrdered="true" fetchSize="5000" resultSetType="FORWARD_ONLY">
    SELECT u.id, nub_fk, u.origin, u.taxon_id FROM nub_rel r JOIN name_usage u ON r.usage_fk=u.id
    WHERE r.dataset_key=#{uuid,jdbcType=OTHER}
  </select>
</mapper>

