<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gbif.checklistbank.service.mybatis.mapper.SpeciesProfileMapper">

  <sql id="selectCommon">s.id, s.marine, s.freshwater, s.extinct, s.hybrid, s.age_in_days, s.size_in_millimeter, s.living_period, s.mass_in_gram, s.terrestrial, s.life_form, s.habitat</sql>
  <sql id="select">s.usage_fk AS usageKey, null AS sourceTaxonKey, c.citation as source,<include refid="selectCommon"/></sql>
  <sql id="selectNub">rel.nub_fk as usageKey, s.usage_fk as sourceTaxonKey,d.title as source,<include refid="selectCommon"/></sql>

  <sql id="from">species_info s
    LEFT JOIN citation c ON s.source_fk=c.id
  </sql>

  <!-- Exclude wikipedias.
    We maintain a special partial index on the nub_rel table with these datasetKeys.
    If you need to change the IN clause here please make sure to also udpate the partial index !!!
  -->
  <sql id="fromNub">species_info s
    JOIN nub_rel rel ON rel.usage_fk=s.usage_fk
    AND rel.dataset_key NOT IN ('cbb6498e-8927-405a-916b-576d00a6289b','cd9fa1dd-d29f-47c6-bac1-31245a9f08e9','16c3f9cb-4b19-4553-ac8e-ebb90003aa02')
    LEFT JOIN dataset d ON rel.dataset_key=d.key
  </sql>

  <sql id="page">LIMIT #{page.limit} OFFSET #{page.offset}</sql>

  <!--  A mapping to build a SpeciesProfile -->
  <resultMap id="speciesProfileResultMap" type="SpeciesProfile" autoMapping="true">
  </resultMap>

  <resultMap id="speciesProfileRangeResultMap" type="UsageRelated" autoMapping="true">
    <id property="usageKey" column="usageKey"/>
    <id column="id"/>
    <association property="value" column="id" javaType="SpeciesProfile" autoMapping="true">
      <id column="id"/>
    </association>
  </resultMap>


  <!-- get all species_data entries for one usage -->
  <select id="listByChecklistUsage" parameterType="map" resultMap="speciesProfileResultMap">
    SELECT
    <include refid="select"/>
    FROM
    <include refid="from"/>
    WHERE s.usage_fk=#{key}
    ORDER BY s.id
    <include refid="page"/>
  </select>

  <!-- get all species_data entries for one nub usage -->
  <select id="listByNubUsage" parameterType="map" resultMap="speciesProfileResultMap">
    SELECT
    <include refid="selectNub"/>
    FROM
    <include refid="fromNub"/>
    WHERE rel.nub_fk=#{key}
    ORDER BY rel.usage_fk
    <include refid="page"/>
  </select>

  <!-- get all species_data linked to a usage range -->
  <select id="listByChecklistUsageRange" parameterType="map" resultMap="speciesProfileRangeResultMap">
    SELECT
    <include refid="select"/>
    FROM
    <include refid="from"/>
    WHERE s.usage_fk between #{start} and #{end}
  </select>

  <!-- get all species_data linked to a nub usage range -->
  <select id="listByNubUsageRange" parameterType="map" resultMap="speciesProfileRangeResultMap">
    SELECT
    <include refid="selectNub"/>
    FROM
    <include refid="fromNub"/>
    WHERE rel.nub_fk between #{start} and #{end}
  </select>

  <delete id="deleteByUsage">
    DELETE FROM species_info
    WHERE usage_fk = #{key}
  </delete>

  <insert id="insert" parameterType="map" useGeneratedKeys="false">
    INSERT INTO species_info (usage_fk, living_period, life_form, habitat, marine, freshwater,
      terrestrial, extinct, hybrid, age_in_days, size_in_millimeter, mass_in_gram, source_fk
    )
    VALUES (#{key}, #{obj.livingPeriod}, #{obj.lifeForm}, #{obj.habitat}, #{obj.marine}, #{obj.freshwater},
      #{obj.terrestrial}, #{obj.extinct}, #{obj.hybrid}, #{obj.ageInDays}, #{obj.sizeInMillimeter}, #{obj.massInGram},
      #{sourceKey}
    )
  </insert>

</mapper>

