<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gbif.checklistbank.service.mybatis.mapper.UsageCountMapper">

  <resultMap id="usageCountMap" type="UsageCount">
    <id property="key" column="id"/>
    <id property="name" column="scientific_name"/>
    <id property="rank" column="rank"/>
    <id property="size" column="num_descendants"/>
  </resultMap>

  <!--  list root usages -->
  <select id="root" parameterType="map" resultMap="usageCountMap">
      SELECT u.id, u.rank, n.scientific_name, u.num_descendants
      FROM name_usage u JOIN name n on u.name_fk=n.id
      WHERE u.deleted IS NULL AND u.parent_fk is null and u.is_synonym=false and u.dataset_key=#{key, jdbcType=OTHER}
      ORDER BY u.rank, n.scientific_name
  </select>

  <!--  list children -->
  <select id="children" parameterType="map" resultMap="usageCountMap">
      WITH child_query AS (
        SELECT u.id, u.rank, n.scientific_name, u.num_descendants
        FROM name_usage u JOIN name n on u.name_fk=n.id
        WHERE u.deleted IS NULL AND u.parent_fk=#{key} and u.is_synonym=false
      )
      SELECT * FROM child_query
      ORDER BY rank, scientific_name
  </select>

</mapper>

