<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gbif.checklistbank.service.mybatis.persistence.mapper.IdentifierMapper">

  <sql id="select">i.usage_fk, i.id, i.identifier, i.type, i.title</sql>
  <sql id="from">identifier i</sql>
  <sql id="page">LIMIT #{page.limit} OFFSET #{page.offset}</sql>

  <!--  A mapping to build a Identifier -->
  <resultMap id="identifierResultMap" type="Identifier" autoMapping="true">
  </resultMap>

  <resultMap id="identifierRangeResultMap" type="UsageRelated" autoMapping="true">
    <id property="usageKey" column="usage_fk"/>
    <id property="value" column="id"></id>
    <association property="value" javaType="Identifier" resultMap="identifierResultMap" />
  </resultMap>


  <!-- get all verncular names linked to one usage -->
  <select id="listByUsage" parameterType="map" resultMap="identifierResultMap">
    SELECT
    <include refid="select"/>
    FROM
    <include refid="from"/>
    WHERE i.usage_fk=#{key}
    ORDER BY i.type, i.id
    <include refid="page"/>
  </select>

  <delete id="deleteByUsage">
    DELETE FROM identifier
    WHERE usage_fk = #{key}
  </delete>

  <insert id="insert" parameterType="map" useGeneratedKeys="false">
    INSERT INTO identifier (usage_fk, identifier, title, type)
    VALUES (#{key}, #{obj.identifier}, #{obj.title}, #{obj.type}::identifier_type)
  </insert>

</mapper>
